1. Все решения принимаемые в компании принимаются на основе Конституции компании.<br />
2. Ответственность перед клиентом за переданные нам данные.<br />
3. Компания создана и действует с целью усовершенствования жизни общества и человечества в целом, в тех сферах, за которые берётся.<br />
<br />
Вещи должны работать так, как хочется чтобы они работали.<br />
<br />
<br />
Требования к сотрудникам компании:<br />
- каждый сотрудник должен обладать самоуважением, но подавлять в себе наглость<br />
- каждый сотрудник должен быть или в кратчайшие сроки стать профессионалом в своей отрасли<br />
- каждый сотрудник должен быть профессионально открыт к любому другому сотруднику компании - содействовать в работе по мере возможностей<br />
- каждому сотруднику следует развивать широкий кругозор - это залог продвижения в компании