<div style="width:920px; padding:20px; background-color:#ffffff; margin:0 auto;">
    <div>
        <h1>Каталог встраиваемых сервисов</h1>
		<p>
			http://embed.ly/embed/features/providers#infoapple<br />
			http://www.labnol.org/internet/how-to-embed-in-html-webpages/6365/<br />
			http://www.labnol.org/internet/embed-panorama-images/25510/<br />
		</p>
		<h3>Презентации</h3>
		<p>
			<a href="http://www.slideshare.net/" target="_blank">slideshare</a><br />
			<a href="http://prezi.com" target="_blank">Prezi</a>
		</p>
		<h3>3D</h3>
		<p>
			<a href="http://unity3d.com/webplayer/" target="_blank">Unity Web Player</a><br />
			<a href="freewheel.autodesk.com" target="_blank">Autodesk Freewheel</a><br />
		</p>
		<h3>Поиск по сайту</h3>
		<p>
			<a href="" target="_blank">Google Search</a><br />
			<a href="" target="_blank">Яндекс.Поиск</a><br />
			<a href="" target="_blank">Bing</a><br />
		</p>
		<h3>Excel</h3>
		<p>
			<a href="" target="_blank"></a><br />
		</p>
		<h3>Схемы</h3>
		<p>
			<a href="" target="_blank"></a><br />
		</p>
		<h3>Карты</h3>
		<p>
			<a href="" target="_blank">Google Maps</a><br />
			<a href="" target="_blank">Яндекс.Карты</a><br />
			<a href="" target="_blank">Bing</a><br />
		</p>
		<h3>Графики</h3>
		<p>
			<a href="http://www.simile-widgets.org" target="_blank">Simile</a><br />
		</p>
		<h3>Программирование</h3>
		<p>
			<a href="http://www.jsfiddle.net/" target="_blank">jsfiddle</a><br />
		</p>
		<h3>Математика</h3>
		<p>
			<a href="http://www.wolfram.com/" target="_blank">Wolfram Mathematica</a> Требует от пользователя установки <a href="http://www.wolfram.com/cdf-player/" target="_blank">Wolfram CDF Player</a><br />
		</p>
		<h3>Статистика</h3>
		<p>
			<a href="http://www.liveinternet.ru/" target="_blank">LiveInternet</a>
		</p>
		<h3>NASDAQ</h3>
		<p>
			http://www.wikinvest.com/stock/Microsoft_(MSFT)/WikiChart
		</p>
		<h3>Видео</h3>
		<p>
			<a href="youtube.com" target="_blank">YouTube</a><br />
			<a href="vimeo.com" target="_blank">Vimeo</a><br />
			<a href="" target="_blank">Яндекс.Видео</a><br />
		</p>
    </div>
</div>