<div id="userpage">
	<div class="left-column">
		<a href="?feed">Моя лента</a>
		<a href="?userpage">Мой профиль</a>
		<a href="?messages">Мои сообщения</a>
		<a href="?contacts">Мои контакты</a>
	</div>
	<div class="user-column">
		<div class="avatar">
			<img src="/static/img/bigava.jpg" />
			<div class="avatar-change-button h">
				Изменить аватар
			</div>

			<div class="buttons-block">
				<a href="javascript:">Обменяться контактами</a>
				<a href="javascript:">Подписаться на работы</a>
				<a href="javascript:">Отправить сообщение</a>
				<select class="user-highlight">
					<option disabled></option>
					<option value="default" selected>Отметить пользователя</option>
					<option disabled></option>
					<option value="red">Крутой чел</option>
					<option value="green">Интересный</option>
					<option value="yellow">Забавный</option>
					<option value="gray">Бесит</option>
					<option disabled></option>
				</select>
			</div>
		</div>
	</div>

	<div class="center-column">
		<h1 class="name">Алексей Андреев</h1>
		<div class="info"></div>

		<div class="main-info">
			<h4>Основная информация</h4>
			<p>
				Страна: Россия<br />
				Город: Санкт-Петербург<br />
			</p>
		</div>

		<div class="main-info">
			<h4>Увлечения</h4>
			<p>

			</p>
		</div>

		<div class="main-info">
			<h4>Увлечения в прошлом</h4>
			<p>

			</p>
		</div>

		<div class="main-info">
			<h4>Увлечения в будущем</h4>
			<p>

			</p>
		</div>

		<div class="main-info">
			<h4>Образование</h4>
			<p>
				Высшее: Санкт-Петербургский Политехнический университет<br />
				Факультет: Международная высшая школа управления<br />
				Кафедра: Международный менеджмент
			</p>
			<p>
				Среднее-профессиональное: Колледж управления и экономики "Александровский лицей"<br />
				Специальность: Программное обеспечение вычислительной техники и автоматизированных систем
			</p>
		</div>

		<div class="main-info">
			<h4>Навыки</h4>
			<p>

			</p>
		</div>

		<div class="main-info">
			<h4>Опыт работы</h4>
			<p>
				Страна: Россия<br />
				Город: Санкт-Петербург<br />
			</p>
		</div>

		<div class="post">
			Очень много текста
		</div>
	</div>
</div>

<script src="/static/js/siteeditpro/glob.js"></script>
<script src="/static/js/common/popup/Popup.js"></script>
<script src="/static/js/userpage/main.js"></script>