#page{position:relative; width:960px; height:1000px; margin:20px auto;
	background:url('/static/img/sprites/grid-100.png'),#FFFFFF;
	background-size:100px;
}
/*#page .box{		float:left; position:absolute; width:400px; height:250px; border:1px solid #B9BEC3; cursor:move;*/
	/*background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);*/
	/*background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);*/
	/*background: linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);}*/
/*#page .text{	float:left; position:absolute; width:250px; height:150px; border:2px dotted #B9BEC3; font:13px Arial; line-height:15px; cursor:move;}*/
/*#page .textarea{float:left; position:absolute; width:100%; height:100%; border:none; background:none;}*/
/*#page .button{	float:left; position:absolute; width:120px; height:30px; line-height:30px; border:1px solid #B9BEC3; text-decoration:none; background-color:#1570a6; color:#FFFFFF; text-align:center; cursor:move;}*/
/*#page .a{		float:left; position:absolute; text-align:center; resize:none;outline:none; text-decoration:none; border-bottom:1px solid; border-color:#1B64B1; color:#1B64B1; cursor:move;}*/
/*#page .map{	    float:left; position:absolute; width:300px; height:300px; border:none; background:none;}*/

#page .slider{position:relative; overflow:hidden; width:675px; height:300px; background-color:rgba(100, 100, 100, 0.00784314); border:1px solid rgb(185, 190, 195);}
#page .slider .slide{position:absolute;}
#page .slider .slide img{width:100%;}
#page .slider .btn{position:absolute; bottom:20px; float:left; height:30px; line-height:30px; padding:0 20px; background-color:rgba(255,255,255,0.4);}
#page .slider .leftBtn{left:0;}
#page .slider .rightBtn{right:0;}