#slider{float:left; width:100%; height:434px; background-color:#204D6D;}
#slider .slider{width:960px; height:100%; margin:0 auto; overflow:hidden;}
#slider .slider img{box-shadow:42px 30px 112px -50px #333;}
#slider .siteeditpro{position:absolute; top:133px; z-index:2;}
#slider .text{float:left; width:328px; margin-top:69px; color:#fff;}
#slider h3, #footer h3{color:#fff;}
#slider .button{float:left; width:200px; height:80px; margin-top:5px; background-color: #d60000; color:#fff; font-size:25px; text-decoration:none; text-align:center; line-height:80px;}
#slider .button:hover{background-color: #c40000;}
#slider .button span{font-size:11px;}

#content{float:left; width:100%; background-color:#EEEEEE; color:#555d64;}
#content .content{width:960px; margin:0 auto;}
#content .text{float:left; width:280px; margin:0 20px 40px 20px; line-height:21px;}

#footer{float:left; width:100%; background-color:#555d64; color:#EEEEEE;}
#footer .footer{width:960px; height:250px; margin:0 auto;}
#footer .text{float:left; width:280px; margin:0 20px 40px 20px; line-height:21px;}
#footer .text img{box-shadow:42px 30px 112px -50px #111;}