@font-face{
	font-family:Cuprum;
	src:url(/static/fonts/Cuprum-Regular.ttf);
}
@font-face{
	font-family:Metropolis;
	src:url(/static/fonts/Metropolis_1920.otf);
}
@font-face{
	font-family:Lobster;
	src:url(/static/fonts/Lobster.ttf);
}
@font-face{
	font-family:OpenSans-Light;
	src:url(/static/fonts/OpenSans-Light.ttf);
}
@font-face{
	font-family:OpenSans-ExtraBold;
	src:url(/static/fonts/OpenSans-ExtraBold.ttf);
}
@font-face{
	font-family:'B52 Regular';
	src:url(/static/fonts/B52%20Regular.ttf);
}
@font-face{
	font-family:Pixel8;
	src:url(/static/fonts/Pixel8.ttf);
}
@font-face{
	font-family:Intro;
	src:url(/static/fonts/Intro.otf);
}
@font-face{
	font-family:'Intro Inline';
	src:url(/static/fonts/Intro%20Inline.otf);
}

::-webkit-scrollbar{width:8px; height:8px; cursor:default;}
::-webkit-scrollbar-thumb{background:#CDD1D6; cursor:default;}
::-webkit-scrollbar-track{box-shadow:inset 0 0 1px rgba(0,0,0,0.3); cursor:default;}

html{-ms-interpolation-mode:nearest-neighbor; image-rendering:-webkit-optimize-contrast; image-rendering:-moz-crisp-edges; image-rendering:-o-crisp-edges; image-rendering:crisp-edges;}

body{margin:0; font:13px "Tahoma",sans-serif; background-color:#EEEEEE;}
body:after{content:""; position:fixed; left:0; top:0; width:100%; height:4px;
	-webkit-border-radius:50%;
	border-radius:50%;
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);z-index:20001;}
h1{font-size:27px; font-weight:normal;}
h2{font:27px "Tahoma",sans-serif;}
h3{font:25px "Tahoma",sans-serif; color:#204D6D;}
input[type="text"]{padding:4px 10px;}
input[type="password"]{padding:4px 10px;}
input[type="number"]{padding:4px 10px;}
input[type="email"]{padding:4px 10px;}
input[type="url"]{padding:4px 10px;}
input[type="checkbox"]{color:#fff;}
input[type="file"]{border:1px solid rgba(59,109,150,0.2)}
select{margin:0; padding:4px 10px;}
label{margin:0 10px;}
a{outline:none; color:#004A74;}
a.dotted{outline:none; text-decoration:none; color:#004A74; border-bottom:1px dotted;}
textarea{font:14px "Tahoma",sans-serif;}
option{padding:10px;}
option.disabled{background-color:#555D64; color:#FFFFFF;}

.clearfix::after{visibility:hidden; content:'.'; display:block; clear:both; height:0; font-size:0;}
.h{display:none;}

/* Костыль - !important */
.unselectable{-webkit-touch-callout:none !important; -webkit-user-drag:none !important; -webkit-user-select:none !important; -moz-user-select:none !important; -ms-user-select:none !important; user-select:none !important;}
/************************/

.transparent{background-image:url("/static/img/system/transparent.png");}

#top{position:relative; width:100%; background-color:#204D6D; height:60px; z-index:20000;}
#top .top-menu{width:960px; margin:0 auto; color:#fff;}
#top .logo{float:left; padding-right:32px; font:27px/54px "Tahoma",sans-serif;}
#top .logo a{color:#fff; text-decoration:none;}
#top .top-button-block{float:left;}
#top .button a{float:left; padding:0 20px; font-size:17px; line-height:60px; color:#C8EBFF; text-decoration:none;}
#top .button a:hover{background-color:#004A74; color:#fff; cursor:pointer;}
#top .banner{float:left; width:230px; height:60px; background-color:#38ab4e;}
#top .banner .content{float:left; font-size:13px; line-height:18px;}
#top .banner .content:hover{background-color:#2c8f3d; cursor:pointer;}
#top .banner a{float:left; width:230px; color:#fff; text-decoration:none;}
#top .banner span{float:left; padding:3px 10px;}
#top .banner .img{float:left; position:relative; width:60px; height:60px; color:#fff; cursor:pointer;}
#top .user{float:right; width:230px; height:60px; background-color:#38ab4e;}
#top .user .content{float:left;}
#top .user .content:hover{background-color:#2c8f3d; cursor:pointer;}
#top .user a{float:left; width:230px; color:#fff; text-decoration:none;}
#top .user span{float:left; padding-left:17px; font-size:17px; line-height:60px;}
#top .user .img{float:left; position:relative; width:60px; height:60px; color:#fff; cursor:pointer;}
#top .user img{width:60px; height:60px;}


.icon{display:inline-block; *display:inline; *zoom:1; vertical-align:top; width:20px; height:20px; background:url('/static/img/sprites/icons.png'); background-size:800px 20px; background-position: 0 0; position:relative;}
.icon.icon-black.icon-textarea{background-position:0 0}
.icon.icon-black.icon-div{background-position:-20px 0}
.icon.icon-black.icon-a{background-position:-40px 0}
.icon.icon-black.icon-input{background-position:-60px 0}
.icon.icon-black.icon-button{background-position:-80px 0}
.icon.icon-black.icon-p{background-position:-100px 0}
.icon.icon-black.icon-checkbox{background-position:-120px 0}
.icon.icon-black.icon-radio{background-position:-140px 0}
.icon.icon-black.icon-select{background-position:-160px 0}
.icon.icon-black.icon-video{background-position:-180px 0}
.icon.icon-black.icon-map{background-position:-200px 0}
.icon.icon-black.icon-image{background-position:-220px 0}
.icon.icon-black.icon-slider{background-position:-240px 0}
.icon.icon-black.icon-chart{background-position:-260px 0}
.icon.icon-black.icon-h2{background-position:-280px 0}
.icon.icon-black.icon-plus{background-position:-300px 0}
.icon.icon-black.icon-minus{background-position:-320px 0}
.icon.icon-black.icon-fullscreen{background-position:-340px 0}
.icon.icon-black.icon-text-strong{background-position:-360px 0}
.icon.icon-black.icon-text-italic{background-position:-380px 0}
.icon.icon-black.icon-text-sub{background-position:-400px 0}
.icon.icon-black.icon-text-sup{background-position:-420px 0}
.icon.icon-black.icon-text-left{background-position:-440px 0}
.icon.icon-black.icon-text-center{background-position:-460px 0}
.icon.icon-black.icon-text-right{background-position:-480px 0}
.icon.icon-black.icon-undo{background-position:-500px 0}
.icon.icon-black.icon-redo{background-position:-520px 0}
.icon.icon-black.icon-text-strike{background-position:-540px 0}
.icon.icon-black.icon-text-underline{background-position:-560px 0}
.icon.icon-black.icon-text-ol{background-position:-580px 0}
.icon.icon-black.icon-text-ul{background-position:-600px 0}
.icon.icon-black.icon-text-remove-format{background-position:-620px 0}
.icon.icon-black.icon-text-remove-link{background-position:-640px 0}
.icon.icon-black.icon-text-insert-char{background-position:-660px 0}
.icon.icon-black.icon-delete{background-position:-680px 0}

.input-icon{display:inline-block; *display:inline; *zoom:1; vertical-align:top;	width:30px; height:30px; background-image: url('/static/img/sprites/input.png'); background-position: 0 0; position:relative;}
.input-icon.icon-blue.icon-checkbox-true{background-position:0 0}
.input-icon.icon-blue.icon-checkbox-false{background-position:0 30px}
.input-icon.icon-green.icon-checkbox-true{background-position:-30px 0}
.input-icon.icon-green.icon-checkbox-false{background-position:-30px 30px}

.cyan-button{float:left; display:block; height:26px; line-height:26px; margin:5px; padding:0 10px; text-decoration:none; text-align:center; background-color:#204D6D; color:#FFFFFF; cursor:pointer;}
.cyan-button:hover{background-color:#004A74;}