/* START RESET --------------------------------------------------------------*/
/*Очистить от неиспользуемых тегов*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline;}
:focus{outline:0;}
body{line-height:1; color:black; background:white;}
ol, ul{list-style:none;}
table{border-collapse:separate;	border-spacing:0;}
caption, th, td{text-align:left; font-weight:normal;}
blockquote:before, blockquote:after, q:before, q:after{content:"";}
blockquote, q{quotes: "" "";}
/* END RESET --------------------------------------------------------------*/


header, section, footer, nav, article, aside {display: block;}
.clearfix{display: inline-block;}
.clearfix:after{content: "."; display:block; clear:both; visibility:hidden;	line-height:0; height:0;}

html{height:100%;}
body{background-repeat:no-repeat; font:16px Verdana; width:960px; height:100%; background-color:rgba(255,255,255,0.5); margin:20px auto; position:relative; box-shadow:1px 1px 15px 0 rgba(0, 50, 55, 0.25);}