.popup{float:left; position:absolute; background-color:#EEEEEE; border:1px solid #CDD1D6; box-shadow:0 1px 10px rgba(0,0,0,.2); z-index:30000;}
.popup .header{float:left; width:100%; height:65px; border-bottom:1px solid #B9BEC3; cursor:move;}
.popup .header a{margin:20px 0 0 20px;}
.popup .content{float:left; width:100%; height:100%;}


/*introductionPopup*/
	.popup .text{padding:20px;}

/*textEditorPopup*/
	.popup .text-edit-panel{float:left; width:100%; height:40px; background-color:#CDD1D6;}
	.popup .text-edit-panel a{float:left; padding:10px;}
	.popup .text-edit-panel a:hover{background-color:#555D64;}
	.popup .text-editor{float:left; width:710px; height:424px; margin:0; padding:20px; font:19px/30px 'Georgia',serif; border:0; background-color:#FDFDFD; overflow-x:hidden; outline:none;
		-webkit-user-select:text;
		-moz-user-select:text;
		-ms-user-select:text;
		user-select:text;
	}
	.popup .text-edit-panel input{width:144px; margin:6px 0 0 6px;}

/*code popup*/
	.popup .code{padding:20px; outline:none;}


/* color popup */
	.color-picker-popup{padding:20px;}
	.color-picker-popup .color-changer{position:absolute; width:586px; height:256px; padding:10px; left:-3px; background-color:#EEEEEE; box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.20);}
	.color-picker-popup .input{float:right; margin:0 0 0 10px; padding:0 10px; background-color:#FFFFFF; border:1px solid #B9BEC3;}
	.color-picker-popup .picker{float:left; height:150px; margin:20px 0 0;}
	.color-picker-popup canvas{float:left;}
	#hsl{width:18px; height:148px; border:1px solid #B9BEC3;}
	#picker{width:148px; height:148px; border:1px solid #B9BEC3;}

	.color-picker-popup .alpha{float:left; margin-left:15px; width:20px; height:150px;}
	.color-picker-popup input[type="range"].opacity{position:relative; left:-68px; top:62px; width:150px; -webkit-transform:rotate(-90deg);}

	.color-picker-popup .change-colors{float:left; width:40px; height:148px; margin-left:15px; border:1px solid #B9BEC3;}
	.color-picker-popup .color-picker{width:100%; height:74px;}
	.color-picker-popup .current{width:100%; height:74px;}
	.color-picker-popup .add-color{float:left; width:24px; height:148px;}
	.color-picker-popup .picker .transparent{margin-left:14px;}
	.color-picker-popup .line{float:left; width:4px; height:150px; background-color:#B9BEC3;}
	.color-picker-popup .add-button{float:left; width:20px; height:75px; background-color:#B9BEC3;}
	.color-picker-popup .add-button i{top:40px; left:-2px;}
	.color-picker-popup .triangle{position:relative; top:41px; width:20px; height:20px; background-color:#B9BEC3; -webkit-transform:skew(0deg, -30deg);}
	.color-picker-popup .transparent{float:left;}
	.color-picker-popup .gradient{float:left; width:128px; height:148px; border:1px solid #B9BEC3; overflow-x:hidden;}

	.color-picker-popup .color{float:left; width:120px;}
	.color-picker-popup .color input[type="checkbox"]{float:left; left:0;}
	.color-picker-popup .gradient-color{float:left; width:50px; height:50px;}
	.color-picker-popup .delete-button{float:left; width:20px; height:20px; padding:15px;}

	.color-picker-popup .result{float:left; width:148px; height:148px; border:1px solid #B9BEC3;}


	.color-picker-popup .color-value{float:left; margin-top:20px;}
	.color-picker-popup .color-value div{float:left; padding:0 10px; margin:0 5px 0 0; background-color:#FFFFFF; border:1px solid #B9BEC3;}
	.color-picker-popup input[type="checkbox"]{position:relative; top:16px; left:15px;}
	.color-picker-popup input[type="text"]{width:40px; border:0; outline:none;}
	.color-picker-popup input[type="number"]{width:40px; border:0; outline:none;}
	.color-picker-popup input[type="range"]{width:100px; padding-top:1px; border:0; outline:none;}

	.color-picker-popup .add-background-button{float:left; width:24px; height:148px;}
	.color-picker-popup .sets{position:relative; float:left; height:150px; left:-20px; padding:20px; margin-top:20px; background-color:#B9BEC3; box-shadow:inset -9px 10px 10px -10px rgba(0,0,0,1);}
	.color-picker-popup .colors-sets{overflow-x:hidden; width:183px; height:150px; margin-left:10px; border:1px solid #B9BEC3;}
	.color-picker-popup .color-set{float:left; overflow-x:hidden; width:100%; height:35px; border-bottom:4px solid #FFFFFF;}
	.color-picker-popup .color-set div{float:left; width:35px; height:35px; cursor:pointer;}
	.color-picker-popup .gradients{float:left; overflow-x:hidden; width:200px; height:150px; border:1px solid #B9BEC3;}
	.color-picker-popup .gradients div{float:left; width:64px; height:64px; cursor:pointer;}
	.color-picker-popup .textures{float:left; overflow-x:hidden; width:200px; height:150px; margin-left:10px; border:1px solid #B9BEC3;}
	.color-picker-popup .textures div{float:left; width:64px; height:64px; cursor:pointer;}

	.color-picker-popup .my-set{position:relative; float:right; width:200px; height:198px; top:20px; border:1px solid #B9BEC3;}
	.color-picker-popup .color-description{position:absolute; display:block; width:180px; height:128px; padding:10px; top:347px; left:671px; border:1px solid #B9BEC3;}

/* addImagePopup*/
	.popup .add-image-top{padding:20px;}
	.popup .add-image-bottom{padding:20px; background-color:#B9BEC3; box-shadow:inset 0 10px 10px -10px rgba(0,0,0,1);}
	.popup .thumbs{overflow-x:hidden; width:370px; height:260px;}
	.popup .thumbs .thumb{overflow:hidden; float:left; width:110px; height:90px; margin:0 10px 10px 0; cursor:pointer;}
	.popup .thumbs .thumb img{min-width:110px; max-width:260px; min-height:90px; max-height:200px;}

/* shadow popup*/
	.shadow{padding:20px;}
	.shadow div{float:left;}
	.light-point{position:absolute; display:block; width:40px; height:40px; border:2px dotted rgb(250,193,56); border-radius:37px;}
	.light-circle{border-radius:37px; width:100%; height:100%; background:-webkit-linear-gradient(top, rgb(250,193,56) 0%, rgb(243,104,14) 100%);}

/* login/registration popup */
	.login-reg-popup{float:left;}
	.login-reg-popup input{outline:none;}
	.login-reg-popup input:hover{border:2px dashed #B9BEC3;}
	.login-reg-popup input:focus{border:2px solid #C40000;}
	.login-reg-popup .login{float:left; width:220px; padding:0 40px 0 40px;}
	.login-reg-popup .registration{float:left; width:220px; padding-left:40px; border-left:1px solid #B9BEC3;}