body{overflow:hidden;}
#fullscreen-button{float:right; width:20px; height:20px; padding:30px; background-color:#B9BEC3;}
#fullscreen-button:hover{background-color:#555D64;}
:-webkit-full-screen body{background-color:#EEEEEE;}
:-webkit-full-screen #top{height:80px;}
:-webkit-full-screen #top .logo{line-height:80px;}
:-webkit-full-screen #top .button a{line-height:80px;}
:-webkit-full-screen #top .user{height:80px;}
:-webkit-full-screen #top .login{line-height:80px;}
:-webkit-full-screen #top .avatar{padding-top:20px;}
:-webkit-full-screen #top{top:0; left:0;}
:-webkit-full-screen #top-values-panel{top:80px; left:0;}
:-webkit-full-screen #editor{top:160px; background-color:#EEEEEE;}
:-webkit-full-screen #status-bar{left:0;}
:-webkit-full-screen #toolbox{top:200px; left:0;}
:-webkit-full-screen #code-panel{top:161px;}

#page{
	-webkit-transition: all 0.3s cubic-bezier(0.19,1,0.22,1);
	transform:translate3d(0,0,0);
}
.color{text-transform:uppercase;}
.dragable{position:absolute; cursor:default;}
.drag{z-index:10100; width:14px; height:14px; border:1px solid gray; position:absolute; background:-webkit-linear-gradient(top, rgb(250,193,56) 0%, rgb(243,104,14) 100%);}
.overlay{z-index:10000; float:left; border:2px solid rgba(17,94,138,0.1); padding:8px; position:absolute; cursor:default;}
.focus{z-index:10000; float:left; border:2px dashed rgba(255,123,13,0.75); padding:8px; position:absolute;}
.top-left{top:-9px; left:-9px; cursor:default;}
.top-right{top:-9px; right:-9px; cursor:default;}
.bottom-left{bottom:-9px; left:-9px; cursor:default;}
.bottom-right{bottom:-9px; right:-9px; cursor:default;}
.rotate{bottom:-30px; right:-30px; border-radius:10px; cursor:default;}
.darkness{position:absolute; width:100%; height:100%; top:0; background-color:rgba(17, 94, 138, 0.1); z-index:10000;}

#element-name:focus{outline:none; border:2px solid rgba(255,123,13,0.75);}

#top{position:fixed}
#top-values-panel{position:fixed; width:100%; height:80px; top:60px; z-index:20000; background-color:#EEEEEE; border-bottom:1px solid #B9BEC3; box-shadow:0 1px 10px rgba(0, 0, 0, 0.20);}
#top-values-panel .panel{margin:0 12px;}
#top-values-panel .element-name{float:left; line-height:60px;}
#top-values-panel h3{float:left; margin-top:23px;}
#top-values-panel .panel-box{float:left; padding:10px 2px;}
#top-values-panel .panel-box input{}

#top-values-panel .element-name input[type="text"]{width:50px;}
#top-values-panel .panel-box div{float:left; padding-right:5px; line-height:32px;}
#top-values-panel .panel-box.panel-box-color div{padding-right:0;}
#top-values-panel .panel-box textarea{min-width:200px; height:53px; margin-top:2px;}
#top-values-panel .panel-box input[type="text"]{width:50px;}
#top-values-panel .panel-box input[type="number"]{width:50px;}
#top-values-panel .panel-box input[type="url"]{width:50px;}
#top-values-panel .panel-box input[type="color"]{width:74px; height:20px; padding:0; border:0; background-color:#EEEEEE;}

.border-editor-popup{padding:20px;}
.border-editor-popup .properties{float:left;}
.border-editor-popup .preview{overflow:hidden; float:left; position:relative; width:150px; height:150px; border:1px solid #CDD1D6; background-color:#EEEEEE;}
.border-editor-popup .preview .top{position:absolute; left:64px;}
.border-editor-popup .preview .right{position:absolute; right:0; top:64px;}
.border-editor-popup .preview .bottom{position:absolute; left:64px; bottom:0;}
.border-editor-popup .preview .left{position:absolute; top:64px;}
.border-editor-popup .preview .box{margin:20px; width:110px; height:110px; background-color:#FFFFFF;}

#toolbox{z-index:20000; top:180px; left:0; position:fixed; width:40px; background-color:#B9BEC3;}
#toolbox .button{float:left; width:20px; height:20px; padding:10px;}
#toolbox .button:hover{background-color:#555D64; cursor:pointer;}

#code-panel{z-index:20000; position:fixed; top:141px; right:0; width:300px; height:560px; background-color:#EEEEEE;}
#code-panel .buttons{float:left; width:40px; height:100%; border-right:1px solid #B9BEC3;}
#code-panel .buttons .top{float:right; position:absolute; top:70px; left:-59px; -webkit-transform:rotate(-90deg); transform:rotate(-90deg);}
#code-panel .buttons a{padding:3px 10px; line-height:26px; text-decoration:none; color:#000000; font-weight:bold;}
#code-panel .buttons a:hover{background-color:#B9BEC3;}
#code-panel .buttons a.result-button{background-color:#204D6D; color:#FFFFFF; cursor:pointer;}
#code-panel .buttons a.result-button:hover{background-color:#004A74;}
#code-panel .buttons .resize-code-panel{width:8px; height:100%; float:right; cursor:col-resize;}
#code-panel .buttons .resize-code-panel:hover{background-color:#B9BEC3;}
#code-panel .buttons .bottom{position:absolute; float:left; bottom:80px; left:-46px; -webkit-transform:rotate(-90deg); transform:rotate(-90deg);}
#code-panel .content{height:100%;}
#code-panel .content .background-text{position:absolute; margin:0; font-size:150px; color:rgba(204, 204, 204, 0.39); z-index:-1; -webkit-transform:rotate(-90deg); transform:rotate(-90deg);}
#code-panel .content .html .background-text{right:-60px; bottom:100px;}
#code-panel .content .css .background-text{right:-14px; bottom:60px;}
#code-panel .css{height:100%; overflow-y:scroll;}
#code-panel .css div{padding:4px 10px; cursor:pointer; word-wrap:break-word;}
#code-panel .css ul{margin:0; padding-left:20px;}
#code-panel .css li{list-style-type:none;}
#code-panel .css .hover{background-color:#204D6D; color:#FFFFFF;}
#code-panel .css div:hover{background-color:#38AB4E; color:#FFFFFF;}
#code-panel .html{height:100%; overflow-y:scroll;}
#code-panel .html div{padding:4px 10px; cursor:pointer; word-wrap:break-word;}
#code-panel .html .hover{background-color:#204D6D; color:#FFFFFF;}
#code-panel .html div:hover{background-color:#38AB4E; color:#FFFFFF;}
#code-panel .js{height:100%; overflow-y:scroll;}
#code-panel .js div{padding:4px 10px; word-wrap:break-word;}
#code-panel .js .hover{background-color:#204D6D; color:#FFFFFF;}
#code-panel .js div:hover{background-color:#38AB4E; color:#FFFFFF;}

#status-bar{float:left; position:fixed; width:100%; bottom:0; background-color:#EEEEEE; border-top:1px solid #B9BEC3; box-shadow:0 -1px 10px rgba(0, 0, 0, 0.20); z-index:20000;}
#status-bar .hot-keys{height:30px; line-height:30px; margin:0 auto;}
#status-bar .cursorPosition{display:inline-block; width:50px;}

#editor{position:fixed; overflow:scroll; float:left; top:140px; left:40px; right:300px; bottom:31px; border-left:1px solid #B9BEC3; cursor:url("/static/img/sprites/move.png"),move;}
#editor .ruler-button{position:fixed; float:left; width:20px; height:20px; top:140px; left:40px; background-color:#EEEEEE; border:1px solid #B9BEC3; z-index:20002; cursor:all-scroll;}
#editor .left-ruler{position:fixed; float:left; overflow:hidden; width:16px; height:100%; z-index:20001; cursor:col-resize;}
#editor .left-ruler-top{position:absolute; float:left; width:16px; height:50000px; background-image:url("/static/img/sprites/ruler-vertical.png"); background-position:bottom;}
#editor .left-ruler-bottom{position:absolute; float:left; width:16px; height:50000px;  background-image:url("/static/img/sprites/ruler-vertical.png");}
#editor .top-ruler{position:fixed; float:left; overflow:hidden; width:100%; height:16px; z-index:20000; cursor:row-resize;}
#editor .top-ruler-left{position:absolute; float:left; width:50000px; height:16px; background-image:url("/static/img/sprites/ruler-horizontal.png"); background-position:right;}
#editor .top-ruler-right{position:absolute; float:left; width:50000px; height:16px; background-image:url("/static/img/sprites/ruler-horizontal.png");}
#editor .horizontal-line{position:absolute; float:left; width:100%; height:3px; top:16px; cursor:row-resize;}
#editor .horizontal-line div{width:100%; height:1px; background-color:#004A74;}
#editor .vertical-line{position:absolute; float:left; width:3px; height:100%; top:0; left:16px; cursor:col-resize;}
#editor .vertical-line div{width:1px; height:100%; background-color:#004A74;}

#editor-scale{float:right; padding-top:3px;}