.tooltip{position:absolute; float:left; background-color:#B9BEC3; z-index:30000;}
.tooltip:before{content:''; float:left; position:absolute; width:20px; height:20px; top:-5px; left:10px; -webkit-transform:rotate(45deg); background-color:#B9BEC3; z-index:-1;}

#code-popup .code{float:left; width:570px; height:439px; margin:4px; padding:10px; background-color:#fff; overflow:auto;}
#login-popup .form{float:left; width:270px; height:137px; margin:0 5px 5px 5px; padding:10px; background-color:#fff; overflow:auto;}

#shadow{position:absolute; float:left; width:600px; height:450px; background-color:#B9BEC3; z-index:30000;}
#shadow:before{content:''; float:left; position:absolute; width:20px; height:20px; top:-5px; left:10px; -webkit-transform:rotate(45deg); background-color:#B9BEC3; z-index:-1;}
#shadow .inset{float:left; width:400px; height:150px; overflow-y:scroll; background-color:#FFFFFF; margin:10px;}
#shadow .inset div{float:left; width:100%; height:50px; border-bottom:1px solid #B9BEC3;}
#shadow .inset input{width:50px;}
#shadow .outset{float:left; width:400px; height:150px; overflow-y:scroll; background-color:#FFFFFF; margin:10px;}
#shadow .outset div{float:left; width:100%; height:50px; border-bottom:1px solid #B9BEC3;}
#shadow .outset input{width:50px;}