<div class="chart">
    <canvas id="chart" width="400" height="300" style="background-color:#FFFFFF; border:1px solid #ccc;"></canvas>
    <a href="javascript:">Построить график</a>
</div>
<script>

    var draw = function(coords){
        var canvas = document.getElementById('chart');
//        canvas.width = canvas.width;
        var context = canvas.getContext('2d');

        var width = canvas.width;
        var height = canvas.height;

        context.lineWidth = 1;
        context.strokeStyle = '#0B598A';
        context.fillStyle = '#FFFFFF';

        var x = 0;
        var y = 300;
        for(var j = 0, k = coords.length-1; j<=k; j++){
            context.moveTo(x,y);
            x = coords[j][0];
            y = height - coords[j][1];

            context.lineTo(x,y);
            context.stroke();
            context.beginPath();
        }

        for(var j = 0, k = coords.length-1; j<=k; j++){
            context.moveTo(x,y);
            x = coords[j][0];
            y = height - coords[j][1];

            context.beginPath();
            context.fillRect(x-7,y-7,15,15);

            context.fillRect(x-3,y-3,7,7);
            context.strokeRect(x-3,y-3,7,7);
        }
    };


    draw([[100,100],[200,100],[200,200],[300,200],[400,100]]);
    draw([[150,130],[170,80],[290,230],[315,200],[460,260]]);

</script>