<style>
	.wrap{float:left; position:relative; overflow:hidden; width:960px; height:500px; border:1px solid #07518F;}
	.slider{float:left; height:500px; width:8000px;}
	.slide{float:left; width:960px; height:500px;}
	.next, .prev{float:left; position:absolute; width:50px; height:30px; top:400px; background-color:rgba(0,0,0,0.4); border:1px solid #36393B; color:#FFF; text-align:center; line-height:30px;}
	.next:hover, .prev:hover{background-color:rgba(255,255,255,0.4); color:#000;}
	.next{right:-15px;}
	.prev{left:-15px;}
	.slide img{width:960px; height:500px;}
	.thumbs{position:absolute; width:860px; height:30px; top:400px; left:50px; background-color:rgba(0,0,0,0.4); border:1px solid #36393B;}
	.thumbs img{float:left; position:relative; width:140px; height:30px; margin:0 10px;}
</style>

<div class="wrap">
	<div class="slider">
		<div class="slide"><img src="/application/pages/test/view/1.jpg" /></div>
		<div class="slide"><img src="/application/pages/test/view/2.jpg" /></div>
		<div class="slide"><img src="/application/pages/test/view/3.jpg" /></div>
	</div>
	<div class="thumbs"></div>
	<div class="next" onclick="slider.nextSlide()">&#9654;</div>
	<div class="prev" onclick="slider.prevSlide()">&#9664;</div>
</div>

<script>
	var Slider = function(){
		this.init = function(){
			for(var i = 0, k = $('.slider').find('.slide').length; i<=k; i++){
				$('.thumbs').append(function(){
					return $('.slider').find('.slide').eq(i).clone();
				});
			}
		};

		this.autorun = function(){
			this.init();
			setInterval(this.nextSlide,2000);
		};

		this.nextSlide = function(){
			$('.slider').find('.slide').last().after(function(){
				return $('.slider').find('.slide').first().clone();
			});

			$('.slider').find('.slide').first().animate({'width':'0'},500,function(){$(this).remove()});
		};

		this.prevSlide = function(){

			$('.slider').find('.slide').first().before(function(){
				return $('.slider').find('.slide').last().clone().css({'width':'0'}).animate({'width':'960px'},500);
			});

			$('.slider').find('.slide').last().remove();
		};

	};
	var slider = new Slider();

	window.onload = slider.autorun();
</script>