<script id="add-image-popup-template" type="text/template">
	<div class="add-image-top"><h3>Выберите изображения</h3><input type="file" class="files" multiple /></div>
	<div class="add-image-bottom">
	<div class="thumbs">
		<div class="thumb"><img src="/static/img/siteeditpro/photobank/1.png" /></div>
		<div class="thumb"><img src="/static/img/siteeditpro/photobank/2.png" /></div>
		<div class="thumb"><img src="/static/img/siteeditpro/photobank/3.png" /></div>
		<div class="thumb"><img src="/static/img/siteeditpro/photobank/4.png" /></div>
		<div class="thumb"><img src="/static/img/siteeditpro/photobank/5.png" /></div>
		<div class="thumb"><img src="/static/img/siteeditpro/photobank/6.png" /></div>
		<div class="thumb"><img src="/static/img/siteeditpro/photobank/7.png" /></div>
		<div class="thumb"><img src="/static/img/siteeditpro/photobank/8.png" /></div>
		<div class="thumb"><img src="/static/img/siteeditpro/photobank/9.png" /></div>
		<div class="thumb"><img src="/static/img/siteeditpro/photobank/10.png" /></div>
		<div class="thumb"><img src="/static/img/siteeditpro/photobank/11.png" /></div>
		<div class="thumb"><img src="/static/img/siteeditpro/photobank/12.png" /></div>
		<div class="thumb"><img src="/static/img/siteeditpro/photobank/13.png" /></div>
		<div class="thumb"><img src="/static/img/siteeditpro/photobank/14.png" /></div>
		<div class="thumb"><img src="/static/img/siteeditpro/photobank/15.png" /></div>
		</div>
	</div>
</script>

<script id="add-video-popup-template" type="text/template">
	<h3>Встраиваемый код</h3>
	<p>Добавьте код видео, карты или любого другого стороннего сервиса (работает - нужно растянуть выделение)</p>
	<textarea class="video"></textarea>
	<a href="javascript:" class="video-apply cyan-button">ОК</a>
</script>

<script id="code-popup-template" type="text/template"></script>

<script id="color-editor-popup-template" type="text/template">
	<div class="color-picker-popup">
		<div class="picker">

			<canvas id="hsl" width="18" height="148"></canvas>
			<div class="alpha">
				<input type="range" class="opacity" min="0" max="100" value="100" />
			</div>

			<div class="transparent">
				<canvas id="picker" width="148" height="148"></canvas>
			</div>

			<div class="change-colors transparent">
				<div class="color-picker"></div>
				<div class="current"></div>
				</div>

			<div class="add-color" title="Добавить цвет в градиент">
				<div class="line"></div>
				<div class="add-button">
					<i class="icon icon-black icon-a"></i>
					<div class="triangle"></div>
				</div>
			</div>

			<div class="transparent">
				<div class="gradient"></div>
			</div>

			<div class="transparent">
				<div class="result"></div>
			</div>

			<div class="add-background-button" title="Добавить в свой набор">
				<div class="line"></div>
				<div class="add-button">
					<i class="icon icon-black icon-a"></i>
					<div class="triangle"></div>
				</div>
			</div>
		</div>

		<div class="my-set transparent"></div>
		<textarea class="color-description" placeholder="Описание применения цвета . . ."></textarea>

		<div class="color-value">
			<div>R: <input type="number" class="rrgb" min="0" max="255" /></div>
			<div>G: <input type="number" class="grgb" min="0" max="255" /></div>
			<div>B: <input type="number" class="brgb" min="0" max="255" /></div>
			<div>A: <input type="number" class="argb" min="0" max="1" value="1" /></div>
			<div class="input">Direction: <input type="number" class="direction" min="0" max="359" value="0" /></div>
		</div>

		<div class="sets">
			<div class="gradients transparent">
				<div style="background:-webkit-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);"></div>
				<div style="background:-webkit-linear-gradient(top, rgba(213,206,166,1) 0%,rgba(201,193,144,1) 40%,rgba(183,173,112,1) 100%);"></div>
				<div style="background:-webkit-linear-gradient(top, rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%);"></div>
				<div style="background:-webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);"></div>
				<div style="background:-webkit-linear-gradient(top, rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%);"></div>
				<div style="background:-webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(89,148,202,1) 62%,rgba(95,154,207,0.7) 68%,rgba(125,185,232,0) 100%);"></div>
				<div style="background:-webkit-linear-gradient(top, rgba(216,224,222,1) 0%,rgba(174,191,188,1) 22%,rgba(153,175,171,1) 33%,rgba(142,166,162,1) 50%,rgba(130,157,152,1) 67%,rgba(78,92,90,1) 82%,rgba(14,14,14,1) 100%);"></div>
				<div style="background:-webkit-gradient(linear, left top, left bottom, from(#a59179), to(#91785b))"></div>
			</div>

			<div class="textures transparent">
				<div style="background:url(/static/img/textures/brown.png)"></div>
				<div style="background:url(/static/img/textures/black.jpg)"></div>
				<div style="background:url(/static/img/textures/gray.png)"></div>
				<div style="background:url(/static/img/textures/crissXcross.png)"></div>
				<div style="background:url(/static/img/textures/dark_mosaic.png)"></div>
				<div style="background:url(/static/img/textures/tactile_noise.png)"></div>
				<div style="background:url(/static/img/textures/batthern.png)"></div>
				<div style="background:url(/static/img/textures/bo_play_pattern.png)"></div>
				<div style="background:url(/static/img/textures/brushed_alu_dark.png)"></div>
				<div style="background:url(/static/img/textures/cardboard.png)"></div>
				<div style="background:url(/static/img/textures/dark_wall.png)"></div>
				<div style="background:url(/static/img/textures/denim.png)"></div>
				<div style="background:url(/static/img/textures/diagonal-noise.png)"></div>
				<div style="background:url(/static/img/textures/greyfloral.png)"></div>
				<div style="background:url(/static/img/textures/grunge_wall.png)"></div>
				<div style="background:url(/static/img/textures/inflicted.png)"></div>
				<div style="background:url(/static/img/textures/retina_wood.png)"></div>
				<div style="background:url(/static/img/textures/tileable_wood_texture.png)"></div>
				<div style="background:url(/static/img/textures/vichy.png)"></div>
				<div style="background:url(/static/img/textures/wall4.png)"></div>
				<div style="background:url(/static/img/textures/white_carbon.png)"></div>
				<div style="background:url(/static/img/textures/wood_pattern.png)"></div>
				<div style="background:url(/static/img/textures/worn_dots.png)"></div>
			</div>

			<div class="colors-sets transparent">
				<div class="color-set">
					<div style="background:#FC4639"></div>
					<div style="background:#FFD541"></div>
					<div style="background:#22B4AA"></div>
					<div style="background:#006774"></div>
					<div style="background:#391A22"></div>
				</div>
				<div class="color-set">
					<div style="background:#CAFF42"></div>
					<div style="background:#EBF7F8"></div>
					<div style="background:#D0E0EB"></div>
					<div style="background:#88ABC2"></div>
					<div style="background:#49708A"></div>
				</div>
				<div class="color-set">
					<div style="background:#951F2B"></div>
					<div style="background:#F5F4D7"></div>
					<div style="background:#E0DFB1"></div>
					<div style="background:#A5A36C"></div>
					<div style="background:#535233"></div>
				</div>
				<div class="color-set">
					<div style="background:#A8A7A7"></div>
					<div style="background:#CC527A"></div>
					<div style="background:#E8175D"></div>
					<div style="background:#474747"></div>
					<div style="background:#363636"></div>
				</div>
				<div class="color-set">
					<div style="background:#E9E0D1"></div>
					<div style="background:#91A398"></div>
					<div style="background:#33605A"></div>
					<div style="background:#070001"></div>
					<div style="background:#68462B"></div>
				</div>
				<div class="color-set">
					<div style="background:#5E412F"></div>
					<div style="background:#FCEBB6"></div>
					<div style="background:#78C0A8"></div>
					<div style="background:#F07818"></div>
					<div style="background:#F0A830"></div>
				</div>
				<div class="color-set">
					<div style="background:#EEE6AB"></div>
					<div style="background:#C5BC8E"></div>
					<div style="background:#696758"></div>
					<div style="background:#45484B"></div>
					<div style="background:#36393B"></div>
				</div>
				<div class="color-set">
					<div style="background:#D1E751"></div>
					<div style="background:#FFFFFF"></div>
					<div style="background:#000000"></div>
					<div style="background:#4DBCE9"></div>
					<div style="background:#26ADE4"></div>
				</div>
				<div class="color-set">
					<div style="background:#ECD078"></div>
					<div style="background:#D95B43"></div>
					<div style="background:#C02942"></div>
					<div style="background:#542437"></div>
					<div style="background:#53777A"></div>
				</div>
				<div class="color-set">
					<div style="background:#D9CEB2"></div>
					<div style="background:#948C75"></div>
					<div style="background:#D5DED9"></div>
					<div style="background:#7A6A53"></div>
					<div style="background:#99B2B7"></div>
				</div>
				<div class="color-set">
					<div style="background:#F4F1EF"></div>
					<div style="background:#FFFFFF"></div>
					<div style="background:#FA4B2A"></div>
					<div style="background:#666666"></div>
					<div style="background:#333333"></div>
				</div>
			</div>
		</div>
	</div>
</script>

<script id="introduction-popup-template" type="text/template">
	<div class="text">
		<h2>Повысьте удобство своей работы</h2>
		<p>Чтобы скопировать элемент - удерживая <strong>Ctrl</strong> перетащите его мышкой</p>
		<p>Удерживайте <strong>Shift</strong> для точного перемещения</p>
		<p>"<strong>+</strong>" - Временное увеличение масштаба</p>
		<p>"<strong>-</strong>" - Временное уменьшение масштаба</p>
		<p>Используйте <strong>стрелки</strong> для точного перемещения элемента</p>
		<p><strong>Delete</strong> - удалить элемент</p>
		<p><strong>F11</strong> - полноэкранный режим</p>
		<p><strong>Ctrl</strong> + <strong>;</strong> - скрыть/показать вспомогательные элементы</p>
	</div>
</script>

<script id="border-editor-popup-template" type="text/template">
	<div class="border-editor-popup">
		<div class="properties">
			Border-color:
			<input type="text" data-value="div_css_border-color" placeholder="#FFFFFF" /><br />
			Border-width:
			<input type="number" data-value="div_css_border-width_px" min="0" value="0" />px<br />
			Border-radius:
			<input type="number" data-value="div_css_border-radius_px" /><br />
			Border-style:
			<select data-value="div_css_border-style">
				<option disabled></option>
				<option>solid</option>
				<option>dotted</option>
				<option>dashed</option>
				<option>double</option>
				<option>groove</option>
				<option>ridge</option>
				<option>inset</option>
				<option>outset</option>
				<option disabled></option>
			</select>
		</div>
		<div class="preview">
			<input type="checkbox" checked="checked" class="top" />
			<input type="checkbox" checked="checked" class="right" />
			<input type="checkbox" checked="checked" class="bottom" />
			<input type="checkbox" checked="checked" class="left" />
			<div class="box"></div>
		</div>
	</div>
</script>

<script id="shadow-editor-popup-template" type="text/template">
	<div class="shadow">
	<div class="inset-shadow">
		<label>outset:</label><br /><input type="text" data-value="div_css_box-shadow" class="div_css_box-shadow" /><br />
		<label>text outset:</label><br /><input type="text" data-value="div_css_text-shadow" class="div_css_text-shadow" /><br /><br />
		<a href="javascript:" class="cyan-button add-light-point">Добавить источник света</a>
		</div>
	</div>
</script>

<script id="text-editor-popup-template" type="text/template">
	<div class="text-edit-panel">
		<a href="javascript:" class="button wisiwig-undo" title="undo"><i class="icon icon-black icon-undo"></i></a>
		<a href="javascript:" class="button wisiwig-redo" title="redo"><i class="icon icon-black icon-redo"></i></a>
		<a href="javascript:" class="button wisiwig-strong" title="strong"><i class="icon icon-black icon-text-strong"></i></a>
		<a href="javascript:" class="button wisiwig-italic" title="italic"><i class="icon icon-black icon-text-italic"></i></a>
		<a href="javascript:" class="button wisiwig-strike" title="strike"><i class="icon icon-black icon-text-strike"></i></a>
		<a href="javascript:" class="button wisiwig-underline" title="underline"><i class="icon icon-black icon-text-underline"></i></a>
		<a href="javascript:" class="button wisiwig-sub" title="sub"><i class="icon icon-black icon-text-sub"></i></a>
		<a href="javascript:" class="button wisiwig-sup" title="sup"><i class="icon icon-black icon-text-sup"></i></a>
		<a href="javascript:" class="button wisiwig-a" title="link"><i class="icon icon-black icon-a"></i></a>
		<a href="javascript:" class="button wisiwig-remove-a" title="remove link"><i class="icon icon-black icon-text-remove-link"></i></a>
		<a href="javascript:" class="button wisiwig-insert-char" title="insert-char"><i class="icon icon-black icon-text-insert-char"></i></a>
		<a href="javascript:" class="button wisiwig-unordered-list" title="unordered list"><i class="icon icon-black icon-text-ul"></i></a>
		<a href="javascript:" class="button wisiwig-ordered-list" title="ordered list"><i class="icon icon-black icon-text-ol"></i></a>
		<a href="javascript:" class="button wisiwig-remove-format" title="remove format"><i class="icon icon-black icon-text-remove-format"></i></a>
		<input type="url" id="wisiwig-link" placeholder="http://" />
	</div>
	<div contentEditable="true" data-value="p_props_content" class="text-editor">Text</div>
</script>















<div id="top-values-panel">
	<? require_once('thuning-panel.html'); ?>
</div>
<div id="toolbox">
    <a href="javascript:" class="button" title="div" 		onclick="activity.create('div')"><i class="icon icon-black icon-div"></i></a>
	<a href="javascript:" class="button" title="p" 			onclick="activity.create('p')"><i class="icon icon-black icon-p"></i></a>
	<a href="javascript:" class="button" title="h2" 		onclick="activity.create('h2')"><i class="icon icon-black icon-h2"></i></a>
	<a href="javascript:" class="button" title="a href" 	onclick="activity.create('a')"><i class="icon icon-black icon-a"></i></a>
	<a href="javascript:" class="button" title="button" 	onclick="activity.create('button')"><i class="icon icon-black icon-button"></i></a>
	<a href="javascript:" class="button" title="input"		onclick="activity.create('input')"><i class="icon icon-black icon-input"></i></a>
    <a href="javascript:" class="button" title="textarea" 	onclick="activity.create('textarea')"><i class="icon icon-black icon-textarea"></i></a>
	<a href="javascript:" class="button" title="select" 	onclick="activity.create('select')"><i class="icon icon-black icon-select"></i></a>
	<a href="javascript:" class="button" title="image" 		onclick="addImagePopup.show()"><i class="icon icon-black icon-image"></i></a>
	<a href="javascript:" class="button" title="slider" 	onclick="activity.create('slider')"><i class="icon icon-black icon-slider"></i></a>
	<a href="javascript:" class="button" title="checkbox"	onclick="activity.create('checkbox')"><i class="icon icon-black icon-checkbox"></i></a>
	<a href="javascript:" class="button" title="radio" 		onclick="activity.create('radio')"><i class="icon icon-black icon-radio"></i></a>

	<? if($_SERVER['SERVER_ADDR'] == '192.168.0.10'){?>
		<a href="javascript:" class="button" title="video" 	onclick="addVideoPopup.show()"><i class="icon icon-black icon-video"></i></a>
		<a href="javascript:" class="button" title="map" 	onclick="activity.create('map')"><i class="icon icon-black icon-map"></i></a>
		<a href="javascript:" class="button" title="chart" 	onclick="activity.create('chart')"><i class="icon icon-black icon-chart"></i></a>
	<?}?>

	<!-- Calendar, search, pie chart, table, horizontal menu, vertical menu, group, h1, editor, comment, tooltip, splitter, icon editor, button editor -->
</div>

<div id="editor">
	<div class="ruler-button"></div>
	<div class="left-ruler">
		<div class="left-ruler-top"></div>
		<div class="left-ruler-bottom"></div>
	</div>
	<div class="top-ruler">
		<div class="top-ruler-left"></div>
		<div class="top-ruler-right"></div>
	</div>
	<div id="system"></div>
    <div id="page"></div>
</div>





<div id="code-panel">
	<div class="buttons">
		<div class="top">
			<a href="javascript:" class="result-button">result</a>
			<!--<a href="javascript:" onclick="editor.showPanel('js')">js</a>-->
			<a href="javascript:" onclick="editor.showPanel('html')">html</a>
			<a href="javascript:" onclick="editor.showPanel('css')">css</a>
		</div>
		<div class="resize-code-panel"></div>
		<div class="bottom">
			<input type="range" id="editor-scale" min="-3" max="5" value="0" />
		</div>
	</div>
	<div class="content">
		<div class="css h"><p class="background-text">css</p></div>
		<div class="html"><p class="background-text">html</p></div>
		<div class="js h"><p class="background-text">js</p></div>
	</div>
</div>







<div id="status-bar">
	<div class="hot-keys">
		<!--<span class="cursorPosition">X:<span id="cursorPageX"></span>px</span> <span class="cursorPosition">Y:<span id="cursorPageY"></span>px</span> &nbsp;&nbsp;&nbsp; -->
		&nbsp;&nbsp;&nbsp; Горячие клавиши: &nbsp;&nbsp;&nbsp; F11 - полноэкранный режим &nbsp;&nbsp;&nbsp; Ctrl + ";"  - скрыть/показать вспомогательные элементы &nbsp;&nbsp;&nbsp; Стрелки - переместить элемент на 1px &nbsp;&nbsp;&nbsp; Enter - редактировать элемент &nbsp;&nbsp;&nbsp; Delete - удалить элемент
	</div>
</div>