<div class="panel">
	<div class="element-name panel-box">
		Id: <input type="text" id="element-name" placeholder="body" />
	</div>
	<div class="panel-box">
		<div>
			<input type="checkbox" id="snap-to-grid" checked="checked"><label for="snap-to-grid">Привязывать к сетке</label><br />
			<a href="javascript:" class="delete-button cyan-button" title="Удалить элемент" onclick="activity.del()">delete</a>
			<a href="javascript:" class="copy-button cyan-button" title="Копировать элемент" onclick="activity.copy()">copy</a>
		</div>
	</div>
<!------------------------------------------------------------------------------------------->
	<div class="properties body-tag">
		<!--<div class="panel-box">-->
			<!--<div>-->
				<!--<input type="checkbox" id="show-grid" checked="checked"><label for="show-grid">Показывать сетку</label>-->
			<!--</div>-->
			<!--<div>-->
				<!--Page width:<br />-->
                <!--Page height:-->
			<!--</div>-->
			<!--<div>-->
				<!--<input type="number" data-value="body_css_width_px" min="0" value="960" />px<br />-->
                <!--<input type="number" data-value="body_css_height_px" min="0" value="1200" />px-->
			<!--</div>-->
		<!--</div>-->
	</div>
<!------------------------------------------------------------------------------------------->
	<div class="properties div-tag h">
		<div class="panel-box panel-box-color">
			<style>
				#top-values-panel .panel-box .palette{float:left; overflow:hidden; width:220px; height:50px; border:1px solid #F1F1F1;}
				#top-values-panel .panel-box .palette .backgrounds{float:left; overflow:hidden; width:200px; padding:10px; background-color:#F1F1F1;}
				#top-values-panel .panel-box .palette .background{float:left; width:40px; height:40px;}
				#top-values-panel .panel-box .palette .buttons{float:left; width:100%; background-color:#B9BEC3; box-shadow:inset 0 10px 10px -10px rgba(0,0,0,1);}
				#top-values-panel .panel-box .palette .buttons a{margin:12px 39px;}
			</style>
			<div class="palette">
				<div class="backgrounds">
					<div class="background" data-value="div_css_background" style="background:-webkit-linear-gradient(top, rgb(252,252,252) 0%, rgb(85,85,85) 100%);"></div>
					<div class="background" data-value="div_css_background" style="background:-webkit-linear-gradient(top, rgb(180,8,9) 0%, rgb(80,0,0) 100%);"></div>
					<div class="background" data-value="div_css_background" style="background:-webkit-linear-gradient(top, rgb(32,136,223) 0%, rgb(18,67,143) 100%);"></div>
					<div class="background" data-value="div_css_background" style="background:-webkit-linear-gradient(top, rgb(165,225,1) 0%, rgb(105,143,0) 100%);"></div>
					<div class="background" data-value="div_css_background" style="background:-webkit-linear-gradient(top, rgb(250,193,56) 0%, rgb(243,104,14) 100%);"></div>

					<div class="background" data-value="div_css_background" style="background:#EEE6AB;"></div>
					<div class="background" data-value="div_css_background" style="background:#C5BC8E;"></div>
					<div class="background" data-value="div_css_background" style="background:#696758;"></div>
					<div class="background" data-value="div_css_background" style="background:#45484B;"></div>
					<div class="background" data-value="div_css_background" style="background:#36393B;"></div>
				</div>
				<div class="buttons">
					<a href="javascript:" class="color-picker-show cyan-button">Настртойка палитры</a>
				</div>
			</div>
		</div>


		<div class="panel-box panel-box-color">
			<style>
				#top-values-panel .panel-box .border-palette{float:left; overflow:hidden; width:221px; height:50px; border:1px solid #F1F1F1;}
				#top-values-panel .panel-box .border-palette .borders{float:left; overflow:hidden; width:201px; padding:10px; background-color:#F1F1F1;}
				#top-values-panel .panel-box .border-palette .border{overflow:hidden; float:left; width:39px; height:38px; border:1px solid #CDD1D6; border-left:0; background-color:#EEEEEE;}
				#top-values-panel .panel-box .border-palette .border:first-of-type{border-left:1px solid #CDD1D6;}
				#top-values-panel .panel-box .border-palette .buttons{float:left; width:100%; background-color:#B9BEC3; box-shadow:inset 0 10px 10px -10px rgba(0,0,0,1);}
				#top-values-panel .panel-box .border-palette .buttons a{margin:12px 39px;}
			</style>
			<div class="border-palette">
				<div class="borders">
					<div class="border"><div data-value="div_css_border" style="margin:10px; width:100px; height:100px; border:4px dashed #2C8F3D; background-color:#FFFFFF;"></div></div>
					<div class="border"><div data-value="div_css_border" style="margin:10px; width:100px; height:100px; border:2px dotted #004A74; background-color:#FFFFFF;"></div></div>
					<div class="border"><div data-value="div_css_border" style="margin:10px; width:100px; height:100px; border:1px solid #0055AA; border-radius:4px; background-color:#FFFFFF;"></div></div>
					<div class="border"><div data-value="div_css_border" style="margin:10px; width:100px; height:100px; border:4px dashed #2C8F3D; background-color:#FFFFFF;"></div></div>
					<div class="border"><div data-value="div_css_border" style="margin:10px; width:100px; height:100px; border:2px dotted #004A74; background-color:#FFFFFF;"></div></div>
				</div>
				<div class="buttons">
					<a href="javascript:" class="border-palette-show cyan-button">Настртойка границ</a>
				</div>
			</div>
		</div>
		<div class="panel-box">
			<div>
				<a href="javascript:" class="cyan-button shadow-editor-show">Настройка тени</a>
			</div>
		</div>
		<div class="panel-box">
			<div>
				Width:<br />
				Height:
			</div>
			<div>
				<input type="number" data-value="div_css_width_px" />px<br />
				<input type="number" data-value="div_css_height_px" />px
			</div>
		</div>
        <!--<div class="panel-box">-->
            <!--<div>-->
                <!--Top:<br />-->
                <!--Left:-->
            <!--</div>-->
            <!--<div>-->
                <!--<input type="number" data-value="div_css_top_px" />px<br />-->
                <!--<input type="number" data-value="div_css_left_px" />px-->
            <!--</div>-->
        <!--</div>-->
        <div class="panel-box">
            <div>
                Rotate:<br />
				Type:
            </div>
            <div>
                <input type="number" data-value="div_css_rotate_deg" /> &#176;<br />
				<select data-value="div_props_tag">
					<option disabled></option>
					<option>div</option>
					<option>header</option>
					<option>hgroup</option>
					<option>nav</option>
					<option>section</option>
					<option>footer</option>
					<option disabled></option>
				</select>
            </div>
        </div>
	</div>
<!------------------------------------------------------------------------------------------->
	<div class="properties header-tag h">
		<div class="panel-box panel-box-color">
			<div class="palette">
				<div class="backgrounds">
					<div class="background" data-value="div_css_background" style="background:-webkit-linear-gradient(top, rgb(252,252,252) 0%, rgb(85,85,85) 100%);"></div>
					<div class="background" data-value="div_css_background" style="background:-webkit-linear-gradient(top, rgb(180,8,9) 0%, rgb(80,0,0) 100%);"></div>
					<div class="background" data-value="div_css_background" style="background:-webkit-linear-gradient(top, rgb(32,136,223) 0%, rgb(18,67,143) 100%);"></div>
					<div class="background" data-value="div_css_background" style="background:-webkit-linear-gradient(top, rgb(165,225,1) 0%, rgb(105,143,0) 100%);"></div>
					<div class="background" data-value="div_css_background" style="background:-webkit-linear-gradient(top, rgb(250,193,56) 0%, rgb(243,104,14) 100%);"></div>

					<div class="background" data-value="div_css_background" style="background:#EEE6AB;"></div>
					<div class="background" data-value="div_css_background" style="background:#C5BC8E;"></div>
					<div class="background" data-value="div_css_background" style="background:#696758;"></div>
					<div class="background" data-value="div_css_background" style="background:#45484B;"></div>
					<div class="background" data-value="div_css_background" style="background:#36393B;"></div>
				</div>
				<div class="buttons">
					<a href="javascript:" class="color-picker-show cyan-button">Настртойка палитры</a>
				</div>
			</div>
		</div>
		<div class="panel-box">
			<div>
				Text:<br />
				Type:
				<!--Width:-->
			</div>
			<div>
				<input type="text" data-value="header_props_content" /><br />
				<select data-value="header_props_tag">
					<option disabled></option>
					<option>h1</option>
					<option selected>h2</option>
					<option>h3</option>
					<option>h4</option>
					<option>h5</option>
					<option>h6</option>
					<option disabled></option>
				</select>
				<!--<input type="number" data-value="header_css_width_px" />-->
			</div>
		</div>
		<div class="panel-box">
			<div>
				Font-size:<br />
				Line-height:
			</div>
			<div>
				<input type="number" data-value="header_css_font-size_px" /><br />
				<input type="number" data-value="header_css_line-height_px" />
			</div>
		</div>
		<div class="panel-box">
			<div>
				<input type="checkbox" id="header-font-line" checked="checked" /><label for="header-font-line">Связать РШ и МР:</label><br />
				<a href="javascript:" class="cyan-button shadow-editor-show">Настройка тени</a>
			</div>
		</div>
		<div class="panel-box">
			<div>
				Font-color:<br />
				Text shadow:
			</div>
			<div>
				<input type="text" data-value="header_css_color" placeholder="#FFFFFF" /><br />
				<input type="text" data-value="header_css_text-shadow" placeholder="2px 2px #B9BEC3" />
			</div>
		</div>
		<div class="panel-box">
			<div>
				Font:<br />
				Text-transform:
			</div>
			<div>
				<select data-value="header_css_font-family">
					<option disabled></option>
					<option>Tahoma</option>
					<option>Arial</option>
					<option>Verdana</option>
					<option>Georgia</option>
					<option>Calibri</option>
					<option>Candara</option>
					<option disabled></option>
					<option>Cuprum</option>
					<option>Intro</option>
					<option>Intro Inline</option>
					<option>Days</option>
					<option>Lobster</option>
					<option>OpenSans-Light</option>
					<option>OpenSans-ExtraBold</option>
					<option>Metropolis</option>
					<option>B52 Regular</option>
					<option>Pixel8</option>
					<option disabled></option>

					<option disabled class="disabled">Google Fonts</option>

					<option disabled></option>
					<option>"Poiret One", cursive</option>
					<option>"Yeseva One", cursive</option>
					<option>"Tenor Sans", sans-serif</option>
					<option>Oranienbaum, serif</option>
					<option>Forum, cursive</option>
					<option>"Prosto One", cursive</option>
					<option>Marmelad, sans-serif</option>
					<option disabled></option>
				</select><br />
				<select data-value="header_css_text-transform">
					<option disabled></option>
					<option>none</option>
					<option>uppercase</option>
					<option>lowercase</option>
					<option disabled></option>
				</select>
			</div>
		</div>
	</div>
	<!------------------------------------------------------------------------------------------->
	<div class="properties p-tag h">
		<div class="panel-box">
			<div>
			Width:<br />
			Height:
			</div>
			<div>
				<input type="number" data-value="p_css_width_px" />px<br />
				<input type="number" data-value="p_css_height_px" />px
			</div>
		</div>
		<div class="panel-box">
			<div>
				Font:<br />
			</div>
			<div>
				<select data-value="p_css_font-family">
					<option disabled></option>
					<option>Tahoma</option>
					<option>Arial</option>
					<option>Verdana</option>
					<option>Georgia</option>
					<option disabled></option>
					<option>Cuprum</option>
					<option>Lobster</option>
					<option disabled></option>
				</select><br />
			</div>
		</div>
        <div class="panel-box">
            <div>
                Font-size:<br />
                Line-height:
            </div>
            <div>
                <input type="number" data-value="p_css_font-size_px" /><br />
                <input type="number" data-value="p_css_line-height_px" />
            </div>
        </div>
		<div class="panel-box">
			<div>
				<input type="checkbox" id="p-font-line" checked="checked" /><label for="p-font-line">Связать РШ и МР:</label><br />
				<a href="javascript:" class="cyan-button" onclick="textEditorPopup.show()">Редактировать текст</a>
			</div>
		</div>
        <div class="panel-box">
            <div>
                Font-color:<br />
				Text-indent:
            </div>
            <div>
                <input type="text" data-value="p_css_color" placeholder="#FFFFFF" /><br />
				<input type="number" data-value="p_css_text-indent_px" />
            </div>
        </div>
		<div class="panel-box">
			<div>
				Letter-spacing:<br />
				Word-spacing:
			</div>
			<div>
				<input type="number" data-value="p_css_letter-spacing_px" /><br />
				<input type="number" data-value="p_css_word-spacing_px" />
			</div>
		</div>
	</div>
<!------------------------------------------------------------------------------------------->
	<div class="properties button-tag h">
		<div class="panel-box panel-box-color">
			<div class="palette">
				<div class="backgrounds">
					<div class="background" data-value="div_css_background" style="background:-webkit-linear-gradient(top, rgb(252,252,252) 0%, rgb(85,85,85) 100%);"></div>
					<div class="background" data-value="div_css_background" style="background:-webkit-linear-gradient(top, rgb(180,8,9) 0%, rgb(80,0,0) 100%);"></div>
					<div class="background" data-value="div_css_background" style="background:-webkit-linear-gradient(top, rgb(32,136,223) 0%, rgb(18,67,143) 100%);"></div>
					<div class="background" data-value="div_css_background" style="background:-webkit-linear-gradient(top, rgb(165,225,1) 0%, rgb(105,143,0) 100%);"></div>
					<div class="background" data-value="div_css_background" style="background:-webkit-linear-gradient(top, rgb(250,193,56) 0%, rgb(243,104,14) 100%);"></div>
				</div>
				<div class="buttons">
					<a href="javascript:" class="color-picker-show cyan-button">Настртойка палитры</a>
				</div>
			</div>
		</div>
		<div class="panel-box">
			<div>
				Line-height:<br />
			</div>
			<div>
				<input type="number" data-value="button_css_line-height_px" /><br />
				<a href="javascript:" class="cyan-button shadow-editor-show">Настройка тени</a>
			</div>
		</div>
		<div class="panel-box">
			<div>
				Width:<br />
				Height:
			</div>
			<div>
				<input type="number" data-value="button_css_width_px" />px<br />
				<input type="number" data-value="button_css_height_px" />px
			</div>
		</div>
		<div class="panel-box">
			<div>
				Text:<br />
				Border-radius:
			</div>
			<div>
				<input type="text" data-value="button_props_content" /><br />
				<input type="number" data-value="button_css_border-radius_px" />
			</div>
		</div>
		<div class="panel-box">
			<div>
				Font:<br />
				Font-color:
			</div>
			<div>
				<select data-value="button_css_font-family">
					<option disabled></option>
					<option>Tahoma</option>
					<option>Arial</option>
					<option>Verdana</option>
					<option>Georgia</option>
					<option disabled></option>
					<option>Cuprum</option>
					<option>Intro</option>
					<option>Intro Inline</option>
					<option>Days</option>
					<option>Lobster</option>
					<option>OpenSans-Light</option>
					<option>OpenSans-ExtraBold</option>
					<option>Metropolis</option>
					<option>B52 Regular</option>
					<option>Pixel8</option>
					<option disabled></option>

					<option disabled class="disabled">Google Fonts</option>

					<option disabled></option>
					<option>"Poiret One", cursive</option>
					<option>"Yeseva One", cursive</option>
					<option>"Tenor Sans", sans-serif</option>
					<option>Oranienbaum, serif</option>
					<option>Forum, cursive</option>
					<option>"Prosto One", cursive</option>
					<option>Marmelad, sans-serif</option>
					<option disabled></option>
				</select><br />
				<input type="text" data-value="button_css_color" placeholder="#FFFFFF" />
			</div>
		</div>
		<div class="panel-box">
			<div>
				Font-size:<br />
				Href:
			</div>
			<div>
				<input type="number" data-value="button_css_font-size_px" /><br />
				<input type="url" data-value="button_html_href" />
			</div>
		</div>
		<div class="panel-box">
			<div>
				Border-width:<br />
				Border-color:
			</div>
			<div>
				<input type="number" data-value="button_css_border-width_px" /><br />
				<input type="url" data-value="button_css_border-color_px" />
			</div>
		</div>
	</div>
<!------------------------------------------------------------------------------------------->
	<div class="properties a-tag h">
		<div class="panel-box">
			<div>
				Text:<br />
				Href:
			</div>
			<div>
				<input type="text" data-value="a_props_content" /><br />
				<input type="url" data-value="a_html_href" />
			</div>
		</div>
		<div class="panel-box">
			<div>
				Font-color:<br />
				Font:
			</div>
			<div>
				<input type="text" data-value="a_css_color" placeholder="#FFFFFF" /><br />
				<select data-value="a_css_font-family">
					<option disabled></option>
					<option>Tahoma</option>
					<option>Arial</option>
					<option>Verdana</option>
					<option>Georgia</option>
					<option disabled></option>
					<option>Cuprum</option>
					<option>Lobster</option>
					<option disabled></option>
				</select>
			</div>
		</div>
	</div>
<!------------------------------------------------------------------------------------------->
	<div class="properties textarea-tag h">
		<div class="panel-box">
			<div>
				Width:<br />
				Height:
			</div>
			<div>
				<input type="number" data-value="textarea_css_width_px" />px<br />
				<input type="number" data-value="textarea_css_height_px" />px
			</div>
		</div>
        <div class="panel-box">
            <textarea data-value="textarea_props_content"></textarea>
        </div>
		<div class="panel-box">
			<div>
				Font:<br />
				Font-size:
			</div>
			<div>
				<select data-value="textarea_css_font-family">
					<option disabled></option>
					<option>Tahoma</option>
					<option>Arial</option>
					<option>Verdana</option>
					<option>Georgia</option>
					<option disabled></option>
					<option>Cuprum</option>
					<option>Lobster</option>
					<option disabled></option>
				</select><br />
				<input type="number" data-value="textarea_css_font-size_px" />px<br />
			</div>
		</div>
		<div class="panel-box">
			<div>
				Font-color:<br />
				Line-height:
			</div>
			<div>
				<input type="text" data-value="textarea_css_color" /><br />
				<input type="number" data-value="textarea_css_line-height_px" />
			</div>
		</div>
	</div>
<!------------------------------------------------------------------------------------------->
	<div class="properties input-tag h">
		<div class="panel-box">
			<div>
				Width:<br />
				Height:
			</div>
			<div>
				<input type="number" data-value="input_css_width_px" />px<br />
				<input type="number" data-value="input_css_height_px" />px
			</div>
		</div>
		<div class="panel-box">
			<div>
				Font:<br />
				Placeholder:
			</div>
			<div>
				<select data-value="input_css_font-family">
					<option disabled></option>
					<option>Tahoma</option>
					<option>Arial</option>
					<option>Verdana</option>
					<option>Georgia</option>
					<option disabled></option>
					<option>Cuprum</option>
					<option>Lobster</option>
					<option disabled></option>
				</select><br />
				<input type="text" data-value="input_html_placeholder" />
			</div>
		</div>
	</div>
<!------------------------------------------------------------------------------------------->
    <div class="properties checkbox-tag h">
        <div class="panel-box">
            <div>
                Text:
            </div>
            <div>
                <input type="text" data-value="checkbox_props_content" />
            </div>
        </div>
		<div class="panel-box">
			<div>
				Font:<br />
			</div>
			<div>
				<select data-value="checkbox_css_font-family">
					<option disabled></option>
					<option>Tahoma</option>
					<option>Arial</option>
					<option>Verdana</option>
					<option>Georgia</option>
					<option disabled></option>
					<option>Cuprum</option>
					<option>Lobster</option>
					<option disabled></option>
				</select><br />
			</div>
		</div>
    </div>
<!------------------------------------------------------------------------------------------->
	<div class="properties image-tag h">
		<div class="panel-box">
			<div>
				Border-radius:<br />
				<a href="javascript:" class="cyan-button shadow-editor-show">Настройка тени</a>
			</div>
			<div>
				<input type="number" data-value="image_css_border-radius_px" />
			</div>
		</div>
		<div class="panel-box">
			<div>
				Width:<br />
				Height:
			</div>
			<div>
				<input type="number" data-value="image_css_width_px" />px<br />
				<input type="number" data-value="image_css_height_px" />px
			</div>
		</div>
		<div class="panel-box">
			<div>
				Alt:<br />
				Rotate:
			</div>
			<div>
				<input type="text" data-value="image_html_alt" /><br />
				<input type="number" data-value="image_css_rotate_deg" /> &#176;
			</div>
		</div>
		<div class="panel-box">
			<div>
				<input type="checkbox" id="keep-image-aspect-ratio" checked="checked"><label for="keep-image-aspect-ratio">Сохранять пропорции</label><br />
			</div>
		</div>
	</div>
<!------------------------------------------------------------------------------------------->
    <div class="properties slider-tag h">
        <div class="panel-box">
            <div>
                Background-color:<br />
                Border-radius:
            </div>
            <div>
                <input type="text" data-value="slider_css_background-color" placeholder="#FFFFFF" /><br />
                <input type="number" data-value="slider_css_border-radius_px" />
            </div>
        </div>
        <div class="panel-box">
            <div>
                Border-color:<br />
                Border-width:
            </div>
            <div>
                <input type="text" data-value="slider_css_border-color" placeholder="#FFFFFF" /><br />
                <input type="number" data-value="slider_css_border-width_px" min="0" value="0" />px
            </div>
        </div>
        <div class="panel-box">
            <div>
                Width:<br />
                Height:
            </div>
            <div>
                <input type="number" data-value="slider_css_width_px" />px<br />
                <input type="number" data-value="slider_css_height_px" />px
            </div>
        </div>
    </div>
</div>
<a href="javascript:" id="fullscreen-button" onclick="editor.fullscreen()" title="Полноэкранный режим"><i class="icon icon-black icon-fullscreen"></i></a>