<link rel="stylesheet" type="text/css" href="/static/css/userpage.css">
<div id="userpage">
	<div class="left-column">
		<a href="?feed">Моя лента</a>
		<a href="?userpage">Мой профиль</a>
		<a href="?messages">Мои сообщения</a>
		<a href="?contacts">Мои контакты</a>
	</div>
	<div class="user-column">
		<div class="avatar">
			<img src="/static/img/bigava.jpg" />
			<div class="avatar-change-button h">
				Изменить аватар
			</div>

			<div class="buttons-block">
				<a href="javascript:">Обменяться контактами</a>
				<a href="javascript:">Подписаться на блог</a>
				<a href="javascript:">Отправить сообщение</a>
				<select class="user-highlight">
					<option disabled></option>
					<option value="default" selected>Выделить пользователя</option>
					<option disabled></option>
					<option value="red">Крутой чел</option>
					<option value="green">Интересный</option>
					<option value="yellow">Забавный</option>
					<option value="gray">Бесит</option>
					<option disabled></option>
				</select>
			</div>
		</div>
	</div>

	<div class="center-column">
		<h1 class="name">Алексей Андреев</h1>
		<div class="info"></div>

		<div class="main-info">
			<h4>Сообщения</h4>
		</div>
	</div>
</div>

<script src="/static/js/siteeditpro/glob.js"></script>
<script src="/static/js/common/popup/main.js"></script>
<script src="/static/js/userpage/main.js"></script>