Префиксы
-webkit-transform, transform
-webkit-linear-gradient, linear-gradient
box-shadow

Вертикальное выравнивание по центру(IE8+):

<style>
	#content{position:absolute; top:0; bottom:0; left:0; right:0; margin:auto; height:240px; width:70%;}
</style>
<div id="content">
	Важная информация.
</div>

Вертикальное выравнивание текста(IE8+):
<style>
	.area {
		width: 300px;
		height: 300px;
		position: relative;
	}
	.bubble {
		position: absolute;
		display: table;
	}
	.bubble p {
		display: table-cell;
		vertical-align: middle;
}
</style>
<div class="area">
	<div class="bubble">
		<p>Чтобы текст выглядел лучше, надо чтобы он был центрирован.</p>
	</div>
</div>

Поддержка rgba в IE:
<!--[if IE]>
	<style>
		.color-block{
			background:transparent;
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000050,endColorstr=#99000050);
			zoom:1;
		}
	</style>
<![endif]-->


Поворот в IE
http://samples.msdn.microsoft.com/workshop/samples/author/dhtml/filters/matrix.htm
1. Высчитываем угол
var rad = (angle * Math.PI) / 180.0,
cos = Math.cos(rad),
sin = Math.sin(rad);
2. Получаем матрицу трансформации
var filter='progid:DXImageTransform.Microsoft.Matrix(sizingMethod="auto expand", M11 = ' + cos + ', M12 = ' + (-sin) + ', M21 = ' + sin + ', M22 = ' + cos + ')';
3. На этот пункте мы получим специфическое смешение по X и Y