<div style="width:920px; padding:20px; background-color:#ffffff; margin:0 auto;">
    <div>
        <h2>Дизайн</h2>
		<h3>Настройка цветовых профилей для Веб - Photoshop</h3>
		<p>http://habrahabr.ru/post/170967/</p>
        <p>Ссылки без перехода на другую страницу подчёркиваются пунктиром, с переходом - сплошной линией</p>
        <p>
            Красный #D60000<br />
            Красный hover #C40000<br />
            Оранжевый #FB9845<br />
            Зелёный #38AB4E<br />
            Зелёный hover #2C8F3D<br />
            Синий #1570A5 #0B598A<br />
            Синий hover #115E8A #004A74<br />
            Голубой #9DC3D8 #C8EBFF<br />
            Очень светло-серый #F7F7F7<br />
            Светло-серый #EEEEEE<br />
            Серый #B9BEC3<br />
            Серый hover #555D64<br />
            Чёрный #000000<br /><br />

            Тень box-shadow:0px 15px 70px -24px #333
        </p>
		<h3>Типографика</h3>
		<p>
			Требования к шрифтам:<br />
			Открытая лицензия<br />
			Явно профессиональная кириллица<br />
			Должны быть хорошо читаемы<br />
			Должны содержать все необходимые символы включая "ё" и все знаки препинания<br />
			Не желательно стиливое совпадение шрифта с уже имеющимися в наборе
		</p>
    </div>

    <div>
        <h2>SEO</h2>
        <p>
            Тег h1 используется на странице не более одного раза вне section<br />
            Меню делается на основе ul-li<br />
            Ссылки в строке браузера индивидуальны для каждой страницы<br />
            Название страницы в ссылке = title = h1<br />
            В ссылках не использовать нижнее подчёркивание - для разделения слов - дефис<br />
        </p>
    </div>

	<div>
		<h2>Вёрстка</h2>
		<p>
			Если в макете есть цифры 653px или 7837px - значит и в вёрстке должны быть 653px и 7837px. В сложных макетах дизайнер считает каждый пиксель и такие цифры могут получаться не просто так.
		</p>
	</div>

    <div>
        <h2>CSS</h2>
        <h3>Расстановка z-index</h3>
        <p>
            #page - 0<br />
            #page elements - 1 - 9900<br />
			edit overlay - 9901 - 9999<br />
            edit elements - 10000 - 18999<br />
            hightlight overlay - 19000<br />
            menus - 20000 - 28999<br />
            popup overlay - 29000<br />
            popups - 30000 - 39999
        </p>
        <h3>Правила составления селекторов:</h3>
        <p>
            1. Разделяйте слова в названии селекторадефисом:<br />
            .adw-help{}<br />
            #video-id{}<br /><br />

            2. Создавайте пространство имён - задайте уникальный идентификатор и все селекторы наследуйте от него.<br />
            #contest .user-photo{}<br />
            #contest .user-name{}<br /><br />

            3. Селектор типа элемента ставится только при необходимости и только в конце, перед id никогда не ставятся другие селекторы (в противном случае, получается лишний обход элементов):<br />
            <b>Как НЕ следует делать:</b><br />
            ul#example{}<br />
            div.error{}<br />
            <b>Как нужно:</b><br />
            #example{}<br />
            .error div{}<br />
        </p>
        <h3>Правила кроссбраузерной вёрстки</h3>
        <p>
            1. Используется правило лесенки от самого длинного - к самому короткому. Безпрефиксное свойство всегда ставится в конце.<br />
            #example{<br />
            -webkit-box-shadow: 10px 10px 5px #888;<br />
            -moz-box-shadow: 10px 10px 5px #888;<br />
            box-shadow: 10px 10px 5px #888;<br />
            }
        </p>
        <h3>Запрещено к использованию:</h3>
        <p>!important (может помешать установить необходимые стили в другой части сайта) - вместо этого используйте более сильные (с повышеной точностью) селекторы</p>
    </div>

    <div>
        <h2>JavaScript</h2>
        <p>
            Структура JavaScript на сайте<br />
            http://www.gliffy.com/gliffy/#d=4418446&t=siteeditpro<br /><br />

            ECMAScript 5 совместимость с браузерами<br />
            http://kangax.github.com/es5-compat-table/<br /><br />
        </p>
		<h3>Запрещено к использованию:</h3>
		<p>with, eval, скрипты и переменные в глобальной области видимости</p>
        <h3>Стандарты кодирования</h3>
        <p>
            В скриптах используем одинарные кавычки, в HTML - двойные.<br /><br />
            Всегда ставим фигурные скобки и не переносим первую фигурную скобку на новую строку<br />
            Неверно:<br />
            if(true)return true;<br /><br />

            if(true)<br />
            {<br />
            return true;<br />
            }<br /><br />

			if(true){<br />
				return true;<br />
			}else if(false){<br />
				return false;<br />
			}<br />

            Верно:<br />
            if(true){return true}<br /><br />

            if(true){<br />
            return true<br />
            }<br /><br />


            Не используем $.post и $.get - только $.ajax:<br />
            $.ajax({<br />
            type: 'POST',<br />
            url: '/application/_system/ajax.php',<br />
            dataType: 'JSON',<br />
            data: {<br />
            exit: true<br />
            },<br />
            beforesend: function(){},<br />
            success: function(data, code){},<br />
            error: function(xhr, str){},<br />
            complete: function(){}<br />
            );<br /><br />

            К свойствам и методам обращаемся по полному имени:<br /><br />
            Неверно:<br />
            var object = {<br />
                propery:'string';<br />
                method:function(){<br />
                    this.property;<br />
                }<br />
            }<br /><br />
            Верно:<br />
            var object = {<br />
                propery:'string';<br />
                method:function(){<br />
                    object.property;<br />
                }<br />
            }<br /><br />
        </p>
    </div>

    <div>
        <h2>Настройка PHPStorm</h2>

        <h3>Устанавливаем отступ табуляциями</h3>
        <p>
            Settings -> Code-Style -> Во всех используемых языках "Use TAB Character"
        </p>

        <h3>Настройка HEX-цветов</h3>
        <p>
            Settings -> Code-Style -> CSS ->Other
            Upper case, Long name
        </p>

        <h3>Подключение базы данных</h3>
        <p>
            Идём в IDE Settings → Plugins → Available.<br />
            Ищем Database Navigator, делаем Download and Install.<br />
            Сливаем с этой страницы архив коннектора JDBC. Находим там .jar и извлекаем в удобное место.<br />
            Перегружаем IDE.<br />
            Project Settings → Database Navigator → Connections.<br />
            Добавляем соединение, в Driver Library прописываем путь к .jar.<br />
            В URL прописываем jdbc:mysql://127.0.0.1:3306. Сохраняемся.<br /><br />

            Всё, теперь можно пользоваться:<br />
            Из главного меню DB Navigator → Open SQL Console… доступен редактор SQL с возможностью запуска этого самого SQL.<br />
            Если открыть вкладку DB Browser слева, получим неплохой способ визуально рассматривать схему.<br /><br />

            Registry http://wmdn.ru/php/using-globals-in-php/
        </p>

        <h3>Добавления своих меток в комментарии</h3>
        File -> Settings -> TODO -> +<br />
        Настройки<br />
        Pattern: \bКостыль\b.*<br />
        Задаём цвет и т.п.<br /><br />

        Использование в коде: //Костыль: Тут наш
        </p>
    </div>

    <div>
        <h2>PHP</h2>

        <h3>Масштабирование MySQL</h3>
        <p>
            http://www.slideshare.net/highload/scaling-web-sites-by-sharding-and-replication-hl2008-rus-presentation
            http://highload.com.ua/index.php/2009/05/06/%D1%88%D0%B0%D1%80%D0%B4%D0%B8%D0%BD%D0%B3-%D0%BF%D0%B0%D1%80%D1%82%D0%B8%D1%86%D0%B8%D0%BE%D0%BD%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5-%D1%80%D0%B5%D0%BF%D0%BB%D0%B8%D0%BA%D0%B0%D1%86/
            http://www.ibm.com/developerworks/ru/library/os-04_sql/index.html
            http://highloadblog.ru/articles/11.html
            http://www.insight-it.ru/masshtabiruemost/segmentirovanie-bazy-dannykh/
        </p>

        <h2>Фильтрация входных данных</h2>
        <p>
            http://webpeeps.ru/article/12/
        </p>

		<h2>Кэширование файлов в браузере</h2>
		<p>http://javascript.ru/optimize/cache-versioning</p>

        <h3>Стандарты кодирования</h3>
        <p>
            Слова в переменных разделяем нижним подчёркиванием<br />
            my_good_var<br /><br />

            Имена методов camelCase<br />
            myMethod()<br /><br />

            Имена классов UpperCamelCase<br />
            MyClass<br /><br />

            Константы<br />
            const MY_CONST = 'something';<br /><br />

            S<br />
            O<br />
            L Наследующий класс должен дополнять, а не замещать поведение базового класса.<br />
            I<br />
            D
        </p>
    </div>
</div>