<div id="main-page">

	<div id="slider">
		<div class="slider">
			<div class="text">
				<h3>Вёрстка на новом уровне абстракции</h3>
				<a class="button" href="?siteeditpro">Начать работу</a>
			</div>
			<img class="siteeditpro" src="/static/img/mainpage/screenshot.png" />
		</div>
	</div>

	<div id="content">
		<div class="content">
			<h3>Преимущества</h3>
			<p class="text">Высочайшая скорость разработки</p>
			<p class="text">Кроссбраузерность</p>
			<p class="text">Простота поддержки</p>
		</div>
	</div>

	<div id="footer">
		<div class="footer">
			<h3>Для кого предназначен инструмент?</h3>
			<div class="text">
				<img src="/static/img/mainpage/one.png" />
			</div>
			<div class="text">
				<h3>Для стартапов</h3>
				<p>Высокая скорость разработки интерфейса без необходимости последующей переделки - только дополнять, только развивать! Вёрстку можно поручить кому угодно!</p>
			</div>
			<div class="text">
				<h3>Для веб-студий</h3>
				<p>Типовые проекты больше не требуют большого вложения времени верстальщика. Всё делается быстро и аккуратно!</p>
			</div>
		</div>
	</div>

</div>